
@model Northwind.Store.UI.Intranet.Areas.Admin.ViewModels.CustomerViewModel
@using Northwind.Store.Model

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fax)
                </th>
                <th></th>
            </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        @if (Model.TotalCount > Model.PageSize)
        {
        <tr>
            @{ int previous = Model.Page - 1;
                int next = Model.Page + 1; }
            <td>
                <a href="@Url.Action("Index")?page=1" title="Primero">|&lt;</a>
            </td>
            <td>
                @if (previous > 0)
                {
                    <a href="@Url.Action("Index")?page=@previous" title="Anterior">&lt;</a>}
            </td>
            <td>
                @Model.Page / @Model.PageCount  <strong>Total Items: @Model.TotalCount</strong>
            </td>
            <td>
                @if (next <= Model.PageCount)
                {
                    <a href="@Url.Action("Index")?page=@next" title="Siguiente">&gt;</a>}
            </td>
            <td>
                @if (next <= Model.PageCount)
                {
                    <a href="@Url.Action("Index")?page=@Model.PageCount" title="Último">&gt;|</a>}
            </td>
        </tr>
       }
    </tfoot>
</table>
